.datetime-input {
  width: 100%;
  max-width: 140px;

  mat-form-field {
    width: 3.5rem;

    input {
      background: transparent;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
}
