<div [formGroup]="rowForm" class="table">
  <table mat-table [dataSource]="data()" formArrayName="data">
    <ng-container matColumnDef="selection">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          [checked]="rowSelection().get(row[rowComparer()])"
          (change)="onUpdateTableSelection($event, row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    @for (column of columns(); track column.field) {
    <ng-container [matColumnDef]="column.field">
      <th mat-header-cell *matHeaderCellDef>{{ column.title }}</th>
      <td
        mat-cell
        *matCellDef="let row; index as i"
        [class.updated-cell]="
          column['field']
            | checkForUpdatedFields : row[rowComparer()] : updatedData
        "
      >
        @if (column.type === 'text') {
        {{ row[column.field] }}
        } @if(column.type === 'decimal') {
        {{ row[column.field] | number : "1.2-2" }}
        } @if (column.type === 'editDatetime') { @if(rowsData.controls.length) {
        <span [formGroupName]="i">
          <app-datetime-input
            [formControlName]="column['field']"
          ></app-datetime-input>
        </span>
        } @else {
        <app-datetime-input [value]="row[column['field']]"></app-datetime-input>
        } }
      </td>
    </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns()"></tr>
  </table>
</div>
